<div class="header">
	<h2>Jake's FORUM</h2>
</div>
<div class="links">
	<a href="/hub">Forum</a> | <a href="/users/<%= current_user %>">My Profile</a> |  <a href="/topics/new">Create New Topic</a>
</div>

<% if (@topic == nil) %>

	<div class="topic_detail">
		<h2 id="box_caption">What's on your mind, <%= @current_user_name %>?</h2>
		<hr>
		<form class="enter_topic" action="/topics/new" method="post">
			<label class="enter_topic_label" for="subject">Subject:</label>
			<input class="enter_topic_field" type="text" name="subject" placeholder="Enter your subject..."/>
			<label class="enter_topic_label" for="details">Details:</label>
			<textarea class="enter_topic_detail" name="details" placeholder="What do you have to say today?..."></textarea>
			<input class="topic_submit" type="submit" value="Create Topic"/>
		</form>
	</div>
 
<% elsif ((current_user == @topic.owner_id) && (@edit)) %>

	<div class="topic_detail">
		<h2 id="box_caption">Edit Topic for <%= @current_user_name %></h2>
		<hr>
		<h4 class="tde_caption">Created on: <%= @topic.created_on %> | 
		Comments: <%= @topic.num_comments %> | Total Stars: <%= @topic.total_score %></h4>
		<h4 class="tde_caption">Location: <%= @topic.user_location %></h4>
		<form class="enter_topic" action="/topics/<%= @topic.id %>" method="post">
			<label class="enter_topic_label" for="subject">Subject:</label>
			<input class="enter_topic_field" type="text" name="subject" value="<%= @topic.subject %>"/>
			<label class="enter_topic_label" for="details">Details:</label>
			<textarea class="enter_topic_detail" name="details"><%= @topic.details %></textarea>
			<input type="hidden" name="_method" value="patch"/>
			<input class="topic_submit" type="submit" value="Update Topic"/>
		</form>
		<form class="enter_topic" action="/topics/<%= @topic.id %>" method="post">
			<input type="hidden" name="_method" value="delete"/>
			<input class="delete_topic" type="submit" value="Delete"/>
		</form>

	</div>

<% else %>

	<div class="topic_detail">
		<h2 id="box_caption"><%= @topic.subject %></h2>
		<hr>
		<% if (current_user == @topic.owner_id) %>
			<form class="edit" action="/topics/edit/<%= @topic.id %>" method="get">
				<input class="edit_topic" type="submit" value="Edit"/>
			</form>
		<% end %>
		<% if (@topic.user_active == 't') %>
			<h4 class="td_caption">Created by: <a href="/users/<%= @topic.owner_id %>"><%= @topic.owner_name %></a></h4>
		<% else %>
			<h4 class="td_caption">Created by: <%= @topic.owner_name %></h4>
		<% end %>
		<h4 class="td_caption">Created on: <%= @topic.created_on %></h4>
		<h4 class="td_caption">Location: <%= @topic.user_location %></h4>
		<% if (current_user != @topic.owner_id) %> 
			<form class="vote" action="/votes/<%= @topic.id %>" method="post">
				<label for="score">Do you like this topic?</label>
				<select id="vote" name="score" onchange="this.form.submit()">
					<% if (@vote == nil) %>
						<option value="0" selected>VOTE</option>
						<option value="1">1 star</option>
						<option value="2">2 stars</option>
						<option value="3">3 stars</option>
						<option value="4">4 stars</option>
						<option value="5">5 stars</option> 
					<% else %>
						<option value="0">VOTE</option>
					  <option value="1" <% if (@vote.score.to_i == 1) %> selected <% end %>>1 star</option> 
					  <option value="2" <% if (@vote.score.to_i == 2) %> selected <% end %>>2 stars</option>
					  <option value="3" <% if (@vote.score.to_i == 3) %> selected <% end %>>3 stars</option>
					  <option value="4" <% if (@vote.score.to_i == 4) %> selected <% end %>>4 stars</option>
					  <option value="5" <% if (@vote.score.to_i == 5) %> selected <% end %>>5 stars</option>
				  <% end %>
				</select>
			</form>
		<% end %>
		<h4 class="td_caption">Comments: <%= @topic.num_comments %> | Total Stars: <%= @topic.total_score %></h4>
		<div class="topic_details_box">
			<%= @topic.details_md %>
		</div>
	</div>
<% end %>


<div class="comments_list">
	<h2 id="box_caption">Comments</h2>
	<hr>
	<% if (@topic != nil) %>
		<!-- new comment -->
		<form class="add_comment" action="/comments/new/<%= @topic.id %>" method="post">
			<label class="enter_comment_label" for="details">Add a Comment:</label>
			<textarea class="enter_comment_detail" name="details" placeholder="Go ahead, enter your comment..."></textarea>
			<input class="comment_submit" type="submit" value="Add Comment"/>
		</form>
		<hr>
		<!-- comment list -->
		<% @comments.each do |comment| %>
			<% if (comment.owner_id == current_user) %>
				<div class="add_comment">
					<h5 class="comment_text">Created by: <%= comment.owner_name %> | Created on: <%= comment.created_on %></h5>
					<h5 class="comment_text">Location: <%= comment.user_location %></h5>	
					<form action="/comments/<%= comment.id %>/<%= @topic.id %>" method="post">
						<textarea class="edit_comment_detail" name="details" placeholder="Go ahead, enter your comment..."><%= comment.details %></textarea>
						<input type="hidden" name="_method" value="patch"/>
						<input class="comment_submit" type="submit" value="Update Comment"/>
					</form>	
						<form action="/comments/<%= comment.id %>/<%= @topic.id %>" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<input class="delete_comment" type="submit" value="Delete"/>
					</form>		
				</div>
			<% else %>
				<div class="comment">
					<h5 class="comment_text">Created by: <%= comment.owner_name %> | Created on: <%= comment.created_on %></h5>
					<h5 class="comment_text">Location: <%= comment.user_location %></h5>
					<hr>
					<p class="comment_text"><%= comment.details %><p>
				</div>
			<% end %>
		<% end %>
	<% end %>

</div>

