<div class="header">
	<h2>Jake's FORUM</h2>
</div>
<div class="links">
	<a href="/hub">Forum</a> | <a href="/topics/new">Create New Topic</a>
</div>

<% if (current_user == @user.id) %>

	<div class="user_profile_box">
		<h2 id="box_caption">My Profile</h2>
		<img id="profile_picture" src="<%= @user.image %>"/>

		<form class="profileform" action="/users/<%= @user.id %>" method="post">
			<label class="profile_label" for "fname">First Name:</label>
			<input class="profile_field" type="text" name="fname" value="<%= @user.fname %>"/>
			<label class="profile_label" for "lname">Last Name:</label>
			<input class="profile_field" type="text" name="lname" value="<%= @user.lname %>"/>
			<label class="profile_label" for "gender">Gender:</label>
			<select class="profile_field" name="gender">
				<% if (@user.gender == 'm') %>
			  	<option value="m" selected>Male</option> 
			  	<option value="f">Female</option>
			  <% elsif (@user.gender == 'f') %>
			  	<option value="m">Male</option> 
			  	<option value="f" selected>Female</option>
			  <% else %>
			  	<option value="" selected>SELECT</option> 
			  	<option value="m">Male</option> 
			  	<option value="f">Female</option>
			  <% end %>
			</select>
			<label class="profile_label" for "phone">Phone:</label>
			<input class="profile_field" type="text" name="phone" value="<%= @user.phone %>"/>
			<label class="profile_label" for "password">Password:</label>
			<input class="profile_field" type="password" name="password" value="<%= @user.password %>"/>
			<label class="profile_label_long" for "email">E-mail:</label>
			<input class="profile_field_long" type="text" name="email" value="<%= @user.email %>"/>
			<label class="profile_label_long" for "image">Image URL:</label>
			<input class="profile_field_long" type="text" name="image" value="<%= @user.image %>"/>
			<label class="profile_label_long" for "show_location">Post Location? :</label>
			<% if (@user.show_location == 't') %>
				<input class="profile_field_long" type="checkbox" name="show_location" value="t" checked/>
			<% else %>
				<input class="profile_field_long" type="checkbox" name="show_location" value="f"/>
			<% end %>
			<label class="profile_label_long" for "get_notifications">Notifications? :</label>
			<select class="profile_field" name="get_notifications">
				<% if (@user.get_notifications == 'email') %>
					<option value="none">NONE</option>
			  	<option value="email" selected>Email</option> 
			  	<option value="text">Text Message</option>
				<% elsif (@user.get_notifications == 'text') %>
					<option value="none">NONE</option>
			  	<option value="email">Email</option> 
			  	<option value="text" selected>Text Message</option>
			  <% else %>
			  	<option value="none" selected>NONE</option>
			  	<option value="email">Email</option> 
			  	<option value="text">Text Message</option>
			  <% end %>
			</select>
			<input type="hidden" name="_method" value="patch"/>
			<input class="profile_submit" type="submit" value="Update My Profile"/>
		</form>

	</div>

<% else %>

	<div class="user_profile_box">
		<h2 id="box_caption"><%= @user.fname %>'s Profile</h2>
		<img id="profile_picture" src="<%= @user.image %>"/>
		<h4>Name: <%= @user.fname %> <%= @user.lname %></h4>
		<% if (@user.gender == 'm') %>
			<h4>Gender: Male</h4>
		<% elsif (@user.gender == 'f') %>
			<h4>Gender: Female</h4>
		<% end %>

		<h4>E-mail: <%= @user.email %></h4>
		<h4>Phone: <%= @user.phone %></h4>
		<h4>User since: <%= @user.signed_up_on %></h4>
		<!-- <h3>About <%= @user.fname %>:</h3> -->
		<!-- <div class="about">
			<p><%= @user.bio %></p>
		</div> -->
	</div>

<% end %>


<div class="user_topics_box">
	<% if (current_user == @user.id) %>
		<h2 id="box_caption">My Topics</h2>
	<% else %>
		<h2 id="box_caption"><%= @user.fname %>'s Topics</h2>
	<% end %>

		<form class="topic_sort" action="/users/<%= @user.id %>" method="post">
			<label for="sort">Sort by:</label>
			<select id="topic_sort" name="sort" onchange="this.form.submit()">	
			  <option value="recent" <% if (@sort == "recent") %> selected <% end %>>Most Recent</option> 
			  <option value="popular" <% if (@sort == "popular") %> selected <% end %>>Most Popular</option>
			  <option value="comments" <% if (@sort == "comments") %> selected <% end %>>Most Comments</option>
			</select>
		</form>

		<% @topics.each do |topic| %>
			<% binding.pry %>
			<div class="topic">
				<h4 class="topic_text"><a href="/topics/<%= topic.id %>"><%= topic.subject %></a></h4>
				<h5 class="topic_text">Created by: <%= topic.owner_name %> | Created on: <%= topic.created_on %></h5>
					<h5 class="topic_text">Comments: <%= topic.num_comments %> | Total Stars: <%= topic.total_score %> | Location: <%= topic.user_location %></h5>
			</div>
		<% end %>
</div>


